body {
    background-color: #333030; 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    margin: 100px 0px;
    font-size: 60px;
    font-style: normal;
}

h2 {
    background-color: black;
    padding: 10px 0px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(6, 141, 175);
}

#About {
    border: 10px solid rgb(22, 12, 165) ;
    margin: 50px 1350px 50px 50px;
    padding: 20px;
    
    
}

#Experience {

    border: 10px solid rgb(22, 12, 165) ;
    margin: -350px 800px 300px 600px;
    padding: 10px;
}

#Connect {
    border: 10px solid rgb(22, 12, 165) ;
    margin: -561px 200px 20px 1200px;
    padding: 10px;
}

#Connect a{
    color:rgb(6, 141, 175);
    font-weight: bolder;
}
