body {
    background-color: #3d5a91; 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    margin: 100px 0px;
    font-size: 20px;
    font-style: normal;
    color: rgb(255, 255, 255);
}

nav {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
nav a{
    color: rgb(8, 34, 182);
    font-weight: bolder;
    margin: 0 15px;

}

h2 {
    background-color: rgb(0, 35, 189);
    padding: 10px 0px;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
}

#About , #Experience, #Connect{
    border: 10px solid rgb(27, 35, 61) ;
    margin: 10px 40px;
    padding: 20px;
}

#Connect a{
    color: rgb(109, 60, 4);
    font-size: 40px;
    font-weight: bolder;
}


#Experience ul {
    padding: 0;
}

.job {
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

.job-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.job-date {
    display: flex;
}

#Connect .Links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bolder;
}


#Connect .Links a {
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #bb0000;
    
}

/* Tablet Styles */
@media (min-width: 600px) {
    header {
        font-size: 36px; 
        color: #333333;  
    }

    h2 {
        font-size: 45px; 
        color: #ffffff;  
    }

    #Experience ul {
        margin-left: 20px;         
        background-color: #444488;
    }

    .job {
        padding: 15px;                 
        border-bottom: 2px solid #fff; 
    }
}


/* Desktop Styles */
@media (min-width: 1024px) {
    header {
        font-size: 48px;    
        color: #f0f0f0;     
    }

    h2 {
        font-size: 50px;      
        font-style: italic;    
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #About, #Experience, #Connect {
        margin: 20px 100px;        
        background-color: #1f2d45; 
    }

    #Connect .Links {
        display: grid;     
        grid-template-columns: repeat(2, 1fr);
    }
}
